# This file contains common pin mappings for the BigTreeTech Octopus.
# To use this config, the firmware should be compiled for the
# STM32F446 with a "32KiB bootloader" and a "12MHz crystal" clock reference.

# See docs/Config_Reference.md for a description of parameters.

### Driver0 ###
[stepper_x]
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
#microsteps: 16
microsteps: 64
full_steps_per_rotation: 400
rotation_distance: 40
endstop_pin: PG6
position_endstop: 0
position_max: 300
homing_speed: 50
homing_positive_dir: false

[tmc2209 stepper_x]
uart_pin: PC4
#diag_pin: PG6
run_current: 1.000
stealthchop_threshold: 999999

### Driver1 ###
[stepper_y]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
#microsteps: 16
microsteps: 64
full_steps_per_rotation: 400
rotation_distance: 40
endstop_pin: PG9
position_endstop: 0
position_max: 280
homing_speed: 50
homing_positive_dir: false

[tmc2209 stepper_y]
uart_pin: PD11
#diag_pin: PG6
run_current: 1.000
stealthchop_threshold: 999999

### Driver2 ###
[stepper_z]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
microsteps: 16
full_steps_per_rotation: 400
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_min: -42
position_max: 200
homing_speed: 5

[tmc2209 stepper_z]
uart_pin: PC6
#diag_pin: PG6
run_current: 1.000
stealthchop_threshold: 999999

### Driver3 ###
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
microsteps: 16
full_steps_per_rotation: 400
rotation_distance: 4

[tmc2209 stepper_z1]
uart_pin: PC7
#diag_pin: PG6
run_current: 1.000
stealthchop_threshold: 999999

### Driver4 ###
[stepper_z2]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
microsteps: 16
full_steps_per_rotation: 400
rotation_distance: 4

[tmc2209 stepper_z2]
uart_pin: PF2
#diag_pin: PG6
run_current: 2.000
stealthchop_threshold: 999999

### Driver6 ###
[extruder]
step_pin: PE2
dir_pin: !PE3
enable_pin: !PD4
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 7.00
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 100.0
heater_pin: PA2 # HE0
#sensor_pin:  PF4 # T0
#sensor_type: EPCOS 100K B57560G104F
sensor_type: MAX31865
sensor_pin:  PE4
spi_speed: 4000000
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
rtd_nominal_r: 100
rtd_reference_r: 430
rtd_num_of_wires: 2
rtd_use_50Hz_filter: True
control: pid
pid_kp: 8.206
pid_ki: 0.106
pid_kd: 159.394
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 500
max_power: 0.5
min_extrude_temp: 0

#[filament_switch_sensor material_0]
#switch_pin: PG12

[heater_bed]
heater_pin: PA1
sensor_pin: PF3 # TB
sensor_type: ATC Semitec 104GT-2
control: watermark
min_temp: 0
max_temp: 130
control: pid
pid_Kp: 72.102
pid_Ki: 1.742
pid_Kd: 746.258

[verify_heater heater_bed]
#max_error: 120
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
check_gain_time: 180
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
#hysteresis: 5
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
#heating_gain: 2
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.

[fan]
pin: PA8
#max_power:
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:

[fan_generic extruder_tool_fan]
pin: PE5
#max_power:
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:

[fan_generic system_fan]
pin: PD12
#max_power:
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_46001D000B50534841313020-if00
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
# CAN bus is also available on this board

[printer]
kinematics: corexy
max_velocity: 2000
max_accel: 1500
max_accel_to_decel: 1500
max_z_velocity: 12
max_z_accel: 300

######################################################################
# "RepRapDiscount 128x64 Full Graphic Smart Controller" type displays
######################################################################

#[board_pins]
#aliases:
#    # EXP1 header
#    EXP1_1=PE8, EXP1_2=PE7,
#    EXP1_3=PE9, EXP1_4=PE10,
#    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
#    EXP1_7=PE14, EXP1_8=PE15,
#    EXP1_9=<GND>, EXP1_10=<5V>,

#    # EXP2 header
#    EXP2_1=PA6, EXP2_2=PA5,
#    EXP2_3=PB1, EXP2_4=PA4,
#    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
#    EXP2_7=PC15, EXP2_8=<RST>,
#    EXP2_9=<GND>, EXP2_10=<5V>

#[display]
#lcd_type: st7920
#cs_pin: EXP1_4
#sclk_pin: EXP1_5
#sid_pin: EXP1_3
#encoder_pins: ^EXP2_3, ^EXP2_5
#click_pin: ^!EXP1_2
#kill_pin: ^!EXP2_8

#[output_pin beeper]
#pin: EXP1_1


#[board_pins]
#aliases:
#    # EXP1 header
#    EXP1_1=PE8, EXP1_2=PE7,
#    EXP1_3=PE9, EXP1_4=PE10,
#    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
#    EXP1_7=PE14, EXP1_8=PE15,
#    EXP1_9=<GND>, EXP1_10=<5V>,
#
#    # EXP2 header
#    EXP2_1=PA6, EXP2_2=PA5,
#    EXP2_3=PB1, EXP2_4=PA4,
#    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
#    EXP2_7=PC15, EXP2_8=<RST>,
#    EXP2_9=<GND>, EXP2_10=PC5

# zoffset bigger number move nozzle closer to bed

[bltouch]
sensor_pin: ^PB7
control_pin: PB6
#z_offset: 3.750 # 3d touch
#z_offset: 2.900

#z_offset: 2.150
z_offset: 3.400
x_offset: 39.000
y_offset: -5.000

[z_tilt]
z_positions: 
	0,20
	280,20
	140,285

points:
	20,20
	20,260
	260,260
	260,20
speed: 50
horizontal_move_z: 15
retries: 5
retry_tolerance: 0.19

[force_move]
enable_force_move: True

[gcode_macro fuck_you]
gcode:
	FORCE_MOVE STEPPER=stepper_z DISTANCE=15 VELOCITY=10
	FORCE_MOVE STEPPER=stepper_z1 DISTANCE=15 VELOCITY=10
	FORCE_MOVE STEPPER=stepper_z2 DISTANCE=15 VELOCITY=10


#[neopixel leds]
#pin: PB0
#chain_count: 84
#color_order: GRB
#initial_RED: 1
#initial_GREEN: 1
#initial_BLUE: 1
